ASTAR_ISLAND_ACCESS_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI4YWMxZjg3MS00MzQwLTQxN2YtODBiMC1hM2JkMTFlODI0YzAiLCJlbWFpbCI6InhjcmF6eXZpa2luZ3hAZ21haWwuY29tIiwiZXhwIjoxNzc0MzU4NjI0fQ.5qACj-29ZvqjE-639o9k93wl5PjkZNC1YmJH
ASTAR_ISLAND_BASE_URL=https://api.ainm.no/astar-island
ASTAR_ISLAND_DATA_DIR=.data
